<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>asdf</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- 用户登录操作 -->
  <servlet>
  	<servlet-name>UserLogin</servlet-name>
  	<servlet-class>cn.edu.shu.enisp.UserServlet</servlet-class>
  	<init-param>
  		<param-name>action</param-name>
  		<param-value>login</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UserLogin</servlet-name>
  	<url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>

  <!-- 用户注销操作 -->
  <servlet>
  	<servlet-name>UserLogout</servlet-name>
  	<servlet-class>cn.edu.shu.enisp.UserServlet</servlet-class>
  	<init-param>
  		<param-name>action</param-name>
  		<param-value>logout</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UserLogout</servlet-name>
  	<url-pattern>/UserLogout</url-pattern>
  </servlet-mapping>
  
  <!-- 普通用户注册操作 -->
  <servlet>
  	<servlet-name>RegisterNormalUser</servlet-name>
  	<servlet-class>cn.edu.shu.enisp.UserServlet</servlet-class>
  	<init-param>
  		<param-name>action</param-name>
  		<param-value>register-normal</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>RegisterNormalUser</servlet-name>
  	<url-pattern>/RegisterNormalUser</url-pattern>
  </servlet-mapping>
  
  <!-- 用户更改信息操作 -->
  <servlet>
  	<servlet-name>UpdateUser</servlet-name>
  	<servlet-class>cn.edu.shu.enisp.UserServlet</servlet-class>
  	<init-param>
  		<param-name>action</param-name>
  		<param-value>update-user</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UpdateUser</servlet-name>
  	<url-pattern>/UpdateUser</url-pattern>
  </servlet-mapping>
  
  <!-- 用户提交更改信息操作 -->
  <servlet>
  	<servlet-name>ChangeInfo</servlet-name>
  	<servlet-class>cn.edu.shu.enisp.UserServlet</servlet-class>
  	<init-param>
  		<param-name>action</param-name>
  		<param-value>change-info</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ChangeInfo</servlet-name>
  	<url-pattern>/ChangeInfo</url-pattern>
  </servlet-mapping>

  <!-- 企业用户注册操作 -->
  <servlet>
  	<servlet-name>RegisterEnterpriseUser</servlet-name>
  	<servlet-class>cn.edu.shu.enisp.UserServlet</servlet-class>
  	<init-param>
  		<param-name>action</param-name>
  		<param-value>register-enterprise</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>RegisterEnterpriseUser</servlet-name>
  	<url-pattern>/RegisterEnterpriseUser</url-pattern>
  </servlet-mapping>

  <!-- 企业用户更改合作关系操作 -->
  <servlet>
  	<servlet-name>ChangePartner</servlet-name>
  	<servlet-class>cn.edu.shu.enisp.EnterpriseServlet</servlet-class>
  	<init-param>
  		<param-name>action</param-name>
  		<param-value>change-partner</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ChangePartner</servlet-name>
  	<url-pattern>/ChangePartner</url-pattern>
  </servlet-mapping>

  <!-- 企业用户更改合作关系操作 -->
  <servlet>
  	<servlet-name>UploadLogo</servlet-name>
  	<servlet-class>cn.edu.shu.enisp.EnterpriseServlet</servlet-class>
  	<init-param>
  		<param-name>action</param-name>
  		<param-value>upload-logo</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UploadLogo</servlet-name>
  	<url-pattern>/UploadLogo</url-pattern>
  </servlet-mapping>

  <!-- Just for test -->
  <servlet>
  	<servlet-name>test</servlet-name>
  	<servlet-class>cn.edu.shu.enisp.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>test</servlet-name>
  	<url-pattern>/test</url-pattern>
  </servlet-mapping>
</web-app>
