#navigation-bar {
    width: 100%;
}

#navigation-bar ul {
    list-style: none;
    padding-left: 0px;
}

#navigation-bar li {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

#navigation-bar li a:link {
    text-decoration: none;
    color: #CC2200;
}

#navigation-bar li a:active {
    text-decoration: none;
    color: #22FF00;
}
