a{
	color:#DDDDDD;
}
body {
	background: url(../images/bg2.jpg) no-repeat left top;
}

.fontcolor{
	color: white;
}

#menu{
	float:right;
	margin-right:10px;
	height: 50px;
	font: 15px Arial, Helvetica, sans-serif;
	color: #DDDDDD;
}

#graphview{
	float:left;
	margin-top:530px;
	margin-left:300px;
	font: 20px Arial,Helvetica, sans-serif;
	font-weight:bold;
}

#radialgraphview{
	float:left;
	margin-top:530px;
	margin-left:220px;
	font: 20px Arial,Helvetica, sans-serif;
	font-weight:bold;
}

#starburst{
	float:left;
	margin-top:480px;
	margin-left:220px;
	font: 20px Arial,Helvetica, sans-serif;
	font-weight:bold;
}
