body {
	background: url(../images/bg_1.png) no-repeat left top;
}

body table tr td label {
	text-align: center;
}

body table tr td input {
	width: 100%;
}

#appletwrap {
	margin: auto 60px;
}

#login-box {
	margin-left: 450px;
	margin-right: 100px;
	margin-top: 100px;
	width:333px;
	height: 352px;
	padding: 58px 76px 0 76px;
	color: #ebebeb;
	font: 12px Arial, Helvetica, sans-serif;
	background: url(../images/login-box-backg_2.png) no-repeat left top;
}

#register-title {
    background-color: #0000FF;
    float: center;
    color: #FFFFFF;
	font: 25px Arial, Helvetica, sans-serif;
    width: 350px;
    height: 30px;
}

#register-divider {
    background-color: #0000FF;
    float: center;
    color: #FFFFFF;
	font: 25px Arial, Helvetica, sans-serif;
}

#register-box-normal {
	margin-left: 40px;
	margin-top: 20px;
	width:333px;
	height: 620px;
	padding: 58px 76px 0 76px;
	color: #ebebeb;
	font: 12px Arial, Helvetica, sans-serif;
    float: left;
	background: url(../images/register-box-backg.png) no-repeat left top;
}

#register-box-enterprise {
	margin-right: 40px;
	margin-top: 20px;
	width:333px;
	height: 620px;
	padding: 58px 76px 0 76px;
	color: #ebebeb;
	font: 12px Arial, Helvetica, sans-serif;
    float: right;
	background: url(../images/register-box-backg.png) no-repeat left top;
}

#status-info p {
	color: #F00;
}

#status-info-positive p {
    color: #0F0;
}

#login-box img {
	border:none;
}

#login-box h2 {
	padding:0;
	margin:0;
	color: #ebebeb;
	font: bold 44px "Calibri", Arial;
}


#login-box-name {
	float: left;
	display:inline;
	width:80px;
	text-align: right;
	padding: 14px 10px 0 0;
	margin:0 0 7px 0;
}

#login-box-field {
	float: left;
	display:inline;
	width:230px;
	margin:0;
	margin:0 0 7px 0;
}

#login-submit-button {
	background-color: transparent;
	background-image: url(../images/login-btn_2.png);
	width: 103px;
	height: 42px;
	margin-left: 90px;
	border: none;
}

.form-login  {
	width: 205px;
	padding: 10px 4px 6px 3px;
	border: 1px solid #0d2c52;
	font-size: 16px;
	color: #000000;
}


.login-box-options  {
	clear:both;
	padding-left:87px;
	font-size: 11px;
}

.login-box-options a {
	color: #ebebeb;
	font-size: 11px;
}
